In [1]:
#input file is ds.csv

import hashlib

'''
hashlib.md5('heroine'.encode()).hexdigest()
hashlib.sha256('poftutcom'.encode()).hexdigest()
hashlib.sha512('poftutcom'.encode()).hexdigest()


to do hashing in group, you can use the following command
for h in map(hashlib.sha256,['poftut.com'.encode(),'ismail'.encode(),'ali'.encode()]):
 h.hexdigest()
'''

"\nhashlib.md5('heroine'.encode()).hexdigest()\nhashlib.sha256('poftutcom'.encode()).hexdigest()\nhashlib.sha512('poftutcom'.encode()).hexdigest()\n\n\nto do hashing in group, you can use the following command\nfor h in map(hashlib.sha256,['poftut.com'.encode(),'ismail'.encode(),'ali'.encode()]):\n h.hexdigest()\n"

In [2]:
countries = ['India',
'China',
'Pakistan',
'Bangladesh',
'Afghanistan']

events=['Civil unrest',
'Attack',
'Disease outbreak',
'Flood']

months=['January',
'February',
'March',
'April',
'May',
'June',
'July',
'August',
'September',
'October',
'November',
'December']
#Provinces of Pakistan
provincePak= ['Sindh',
'Punjab',
'Balochistan',
'Khyber Pakhtunkhwa',
'Gilgit Baltistan',
'Azad Kashmir',
'Islamabad']
#Provinces of China:

provinceChina=['Qinghai',
'Sichuan',
'Gansu',
'Heilongjiang',
'Yunnan',
'Hunan',
'Shaanxi',
'Hebei',
'Jilin',
'Hubei',
'Hubei',
'Guizhou',
'Jiangxi',
'Henan',
'Shanxi',
'Shandong',
'Liaoning',
'Anhui',
'Fujian',
'Jiangsu',
'Zhejiang',
'Taiwan',
'Hainan',
'Hong Kong',
'Tibet',
'Beijing']

In [3]:
'''
dCountries = {}
dEvents = {}
dProvincePak = {}
dProvinceChina = {}
dMonths = {}

for a in countries:
    dCountries[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]
    
for a in months:
    dMonths[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]
    
for a in events:
    dEvents[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]
    
for a in provincePak:
    dProvincePak[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]
    
for a in provinceChina:
    dProvinceChina[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]
'''

'\ndCountries = {}\ndEvents = {}\ndProvincePak = {}\ndProvinceChina = {}\ndMonths = {}\n\nfor a in countries:\n    dCountries[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]\n    \nfor a in months:\n    dMonths[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]\n    \nfor a in events:\n    dEvents[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]\n    \nfor a in provincePak:\n    dProvincePak[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]\n    \nfor a in provinceChina:\n    dProvinceChina[a] = hashlib.sha512(a.encode()).hexdigest()[0:10]\n'

In [4]:
#dCountries,dEvents,dProvincePak,dProvinceChina,dMonths

In [5]:
#round 2

In [6]:
dCountries = {}
dEvents = {}
dProvincePak = {}
dProvinceChina = {}
dMonths = {}

for a in countries:
    dCountries[a] = int(hashlib.sha512(a.encode()).hexdigest()[0:10], 16)
    
for a in months:
    dMonths[a] = int(hashlib.sha512(a.encode()).hexdigest()[0:10], 16)
    
for a in events:
    dEvents[a] = int(hashlib.sha512(a.encode()).hexdigest()[0:10], 16)
    
for a in provincePak:
    dProvincePak[a] = int(hashlib.sha512(a.encode()).hexdigest()[0:10], 16)
    
for a in provinceChina:
    dProvinceChina[a] = int(hashlib.sha512(a.encode()).hexdigest()[0:10], 16)

In [7]:
dCountries,dEvents,dProvincePak,dProvinceChina,dMonths

({'India': 599540218941,
  'China': 922074254021,
  'Pakistan': 805650366791,
  'Bangladesh': 550924169409,
  'Afghanistan': 796255062975},
 {'Civil unrest': 842955241147,
  'Attack': 173815961506,
  'Disease outbreak': 782389966709,
  'Flood': 504567342880},
 {'Sindh': 1083570781771,
  'Punjab': 115979017587,
  'Balochistan': 491896530011,
  'Khyber Pakhtunkhwa': 397587297653,
  'Gilgit Baltistan': 405405895484,
  'Azad Kashmir': 73319429031,
  'Islamabad': 523233326767},
 {'Qinghai': 160138371888,
  'Sichuan': 623798892277,
  'Gansu': 275418627945,
  'Heilongjiang': 874060229648,
  'Yunnan': 1081167887854,
  'Hunan': 1026562091902,
  'Shaanxi': 137576383028,
  'Hebei': 770066868597,
  'Jilin': 69254807704,
  'Hubei': 576287406604,
  'Guizhou': 98018115111,
  'Jiangxi': 167026942588,
  'Henan': 50850142492,
  'Shanxi': 813407145993,
  'Shandong': 907788872740,
  'Liaoning': 719227645152,
  'Anhui': 598265670170,
  'Fujian': 1096475016718,
  'Jiangsu': 913033772429,
  'Zhejiang': 592407251093,
  'Taiwan': 186549519087,
  'Hainan': 1072740311565,
  'Hong Kong': 156063852278,
  'Tibet': 27828004076,
  'Beijing': 963432031780},
 {'January': 789269779534,
  'February': 898528197691,
  'March': 341814020434,
  'April': 582981880659,
  'May': 881714492924,
  'June': 842191546849,
  'July': 225044240400,
  'August': 637860132779,
  'September': 327893498858,
  'October': 81113368858,
  'November': 715105976379,
  'December': 321193061305})

In [8]:
def getEvent(val): 
    for key, value in dEvents.items(): 
         if val == value: 
             return key
def getCountry(val): 
    for key, value in dCountries.items(): 
         if val == value: 
             return key
def getMonth(val): 
    for key, value in dMonths.items(): 
         if val == value: 
             return key
def getProvincePak(val): 
    for key, value in dProvincePak.items(): 
         if val == value: 
             return key

In [9]:
#get_key(173815961506)

In [10]:
import csv
filename = "ds.csv"

In [11]:
fields = []
rows = []

with open(filename, 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    
    fields = next(csvreader)
    
    for row in csvreader:
        rows.append(row)

In [12]:
rows

[['India', '2020', 'February', 'Civil unrest'],
 ['India', '2017', 'August', 'Civil unrest'],
 ['India', '2013', 'August', 'Civil unrest'],
 ['India', '2006', 'May', 'Civil unrest'],
 ['India', '2002', 'February', 'Civil unrest'],
 ['India', '2003', 'February', 'Civil unrest'],
 ['India', '2011', 'April', 'Civil unrest'],
 ['India', '2015', 'June', 'Civil unrest'],
 ['India', '2014', 'September', 'Civil unrest'],
 ['India', '2016', 'February', 'Civil unrest'],
 ['India', '2018', 'August', 'Flood'],
 ['India', '2017', 'August', 'Flood'],
 ['India', '2017', 'July', 'Flood'],
 ['India', '2017', 'July', 'Flood'],
 ['India', '2017', 'August', 'Flood'],
 ['India', '2017', 'July', 'Flood'],
 ['India', '2016', 'July', 'Flood'],
 ['India', '2015', 'November', 'Flood'],
 ['India', '2015', 'June', 'Flood'],
 ['India', '2015', 'August', 'Flood'],
 ['India', '2014', 'September', 'Flood'],
 ['India', '2007', 'August', 'Flood'],
 ['India', '2008', 'August', 'Flood'],
 ['India', '2019', 'May', 'Attack'],
 ['India', '2019', 'February', 'Attack'],
 ['India', '2018', 'March', 'Attack'],
 ['India', '2018', 'February', 'Attack'],
 ['India', '2017', 'July', 'Attack'],
 ['India', '2017', 'April', 'Attack'],
 ['India', '2016', 'September', 'Attack'],
 ['India', '2016', 'August', 'Attack'],
 ['India', '2016', 'January', 'Attack'],
 ['India', '2015', 'July', 'Attack'],
 ['India', '2015', 'June', 'Attack'],
 ['India', '2014', 'December', 'Attack'],
 ['India', '2014', 'May', 'Attack'],
 ['India', '2014', 'May', 'Attack'],
 ['India', '2014', 'April', 'Attack'],
 ['India', '2014', 'March', 'Attack'],
 ['India', '2018', 'May', 'Disease outbreak'],
 ['India', '2002', 'February', 'Disease outbreak'],
 ['India', '2017', 'May', 'Disease outbreak'],
 ['India', '2006', 'February', 'Disease outbreak'],
 ['India', '2006', 'February', 'Disease outbreak'],
 ['India', '2005', 'July', 'Disease outbreak'],
 ['India', '2005', 'March', 'Disease outbreak'],
 ['India', '2003', 'June', 'Disease outbreak'],
 ['India', '2003', 'April', 'Disease outbreak'],
 ['India', '2001', 'July', 'Disease outbreak'],
 ['China', '2019', 'October', 'Civil unrest'],
 ['China', '2011', 'September', 'Civil unrest'],
 ['China', '2008', 'March', 'Civil unrest'],
 ['China', '2009', 'July', 'Civil unrest'],
 ['China', '2008', 'March', 'Civil unrest'],
 ['China', '2012', 'June', 'Civil unrest'],
 ['China', '2011', 'November', 'Civil unrest'],
 ['China', '2011', 'March', 'Civil unrest'],
 ['China', '2010', 'January', 'Civil unrest'],
 ['China', '2008', 'June', 'Civil unrest'],
 ['China', '2020', 'January', 'Disease outbreak'],
 ['China', '2018', 'February', 'Disease outbreak'],
 ['China', '2016', 'January', 'Disease outbreak'],
 ['China', '2016', 'April', 'Disease outbreak'],
 ['China', '2016', 'March', 'Disease outbreak'],
 ['China', '2017', 'January', 'Disease outbreak'],
 ['China', '2015', 'January', 'Disease outbreak'],
 ['China', '2015', 'January', 'Disease outbreak'],
 ['China', '2014', 'January', 'Disease outbreak'],
 ['China', '2014', 'December', 'Disease outbreak'],
 ['China', '2019', 'July', 'Flood'],
 ['China', '2018', 'July', 'Flood'],
 ['China', '2018', 'June', 'Flood'],
 ['China', '2017', 'June', 'Flood'],
 ['China', '2017', 'June', 'Flood'],
 ['China', '2016', 'July', 'Flood'],
 ['China', '2015', 'June', 'Flood'],
 ['China', '2015', 'June', 'Flood'],
 ['China', '2013', 'July', 'Flood'],
 ['China', '2013', 'July', 'Flood'],
 ['China', '2016', 'December', 'Attack'],
 ['China', '2015', 'June', 'Attack'],
 ['China', '2014', 'March', 'Attack'],
 ['China', '2013', 'October', 'Attack'],
 ['China', '2013', 'April', 'Attack'],
 ['China', '2011', 'July', 'Attack'],
 ['China', '2002', 'April', 'Attack'],
 ['China', '2001', 'March', 'Attack'],
 ['China', '2007', 'January', 'Attack'],
 ['China', '2008', 'August', 'Attack']]

In [13]:
hashRows = []
for country, year, month, event in rows:
    hashRows.append([ str(dCountries[country]), year, str(dMonths[month]), str(dEvents[event])])

In [14]:
hashRows

[['599540218941', '2020', '898528197691', '842955241147'],
 ['599540218941', '2017', '637860132779', '842955241147'],
 ['599540218941', '2013', '637860132779', '842955241147'],
 ['599540218941', '2006', '881714492924', '842955241147'],
 ['599540218941', '2002', '898528197691', '842955241147'],
 ['599540218941', '2003', '898528197691', '842955241147'],
 ['599540218941', '2011', '582981880659', '842955241147'],
 ['599540218941', '2015', '842191546849', '842955241147'],
 ['599540218941', '2014', '327893498858', '842955241147'],
 ['599540218941', '2016', '898528197691', '842955241147'],
 ['599540218941', '2018', '637860132779', '504567342880'],
 ['599540218941', '2017', '637860132779', '504567342880'],
 ['599540218941', '2017', '225044240400', '504567342880'],
 ['599540218941', '2017', '225044240400', '504567342880'],
 ['599540218941', '2017', '637860132779', '504567342880'],
 ['599540218941', '2017', '225044240400', '504567342880'],
 ['599540218941', '2016', '225044240400', '504567342880'],
 ['599540218941', '2015', '715105976379', '504567342880'],
 ['599540218941', '2015', '842191546849', '504567342880'],
 ['599540218941', '2015', '637860132779', '504567342880'],
 ['599540218941', '2014', '327893498858', '504567342880'],
 ['599540218941', '2007', '637860132779', '504567342880'],
 ['599540218941', '2008', '637860132779', '504567342880'],
 ['599540218941', '2019', '881714492924', '173815961506'],
 ['599540218941', '2019', '898528197691', '173815961506'],
 ['599540218941', '2018', '341814020434', '173815961506'],
 ['599540218941', '2018', '898528197691', '173815961506'],
 ['599540218941', '2017', '225044240400', '173815961506'],
 ['599540218941', '2017', '582981880659', '173815961506'],
 ['599540218941', '2016', '327893498858', '173815961506'],
 ['599540218941', '2016', '637860132779', '173815961506'],
 ['599540218941', '2016', '789269779534', '173815961506'],
 ['599540218941', '2015', '225044240400', '173815961506'],
 ['599540218941', '2015', '842191546849', '173815961506'],
 ['599540218941', '2014', '321193061305', '173815961506'],
 ['599540218941', '2014', '881714492924', '173815961506'],
 ['599540218941', '2014', '881714492924', '173815961506'],
 ['599540218941', '2014', '582981880659', '173815961506'],
 ['599540218941', '2014', '341814020434', '173815961506'],
 ['599540218941', '2018', '881714492924', '782389966709'],
 ['599540218941', '2002', '898528197691', '782389966709'],
 ['599540218941', '2017', '881714492924', '782389966709'],
 ['599540218941', '2006', '898528197691', '782389966709'],
 ['599540218941', '2006', '898528197691', '782389966709'],
 ['599540218941', '2005', '225044240400', '782389966709'],
 ['599540218941', '2005', '341814020434', '782389966709'],
 ['599540218941', '2003', '842191546849', '782389966709'],
 ['599540218941', '2003', '582981880659', '782389966709'],
 ['599540218941', '2001', '225044240400', '782389966709'],
 ['922074254021', '2019', '81113368858', '842955241147'],
 ['922074254021', '2011', '327893498858', '842955241147'],
 ['922074254021', '2008', '341814020434', '842955241147'],
 ['922074254021', '2009', '225044240400', '842955241147'],
 ['922074254021', '2008', '341814020434', '842955241147'],
 ['922074254021', '2012', '842191546849', '842955241147'],
 ['922074254021', '2011', '715105976379', '842955241147'],
 ['922074254021', '2011', '341814020434', '842955241147'],
 ['922074254021', '2010', '789269779534', '842955241147'],
 ['922074254021', '2008', '842191546849', '842955241147'],
 ['922074254021', '2020', '789269779534', '782389966709'],
 ['922074254021', '2018', '898528197691', '782389966709'],
 ['922074254021', '2016', '789269779534', '782389966709'],
 ['922074254021', '2016', '582981880659', '782389966709'],
 ['922074254021', '2016', '341814020434', '782389966709'],
 ['922074254021', '2017', '789269779534', '782389966709'],
 ['922074254021', '2015', '789269779534', '782389966709'],
 ['922074254021', '2015', '789269779534', '782389966709'],
 ['922074254021', '2014', '789269779534', '782389966709'],
 ['922074254021', '2014', '321193061305', '782389966709'],
 ['922074254021', '2019', '225044240400', '504567342880'],
 ['922074254021', '2018', '225044240400', '504567342880'],
 ['922074254021', '2018', '842191546849', '504567342880'],
 ['922074254021', '2017', '842191546849', '504567342880'],
 ['922074254021', '2017', '842191546849', '504567342880'],
 ['922074254021', '2016', '225044240400', '504567342880'],
 ['922074254021', '2015', '842191546849', '504567342880'],
 ['922074254021', '2015', '842191546849', '504567342880'],
 ['922074254021', '2013', '225044240400', '504567342880'],
 ['922074254021', '2013', '225044240400', '504567342880'],
 ['922074254021', '2016', '321193061305', '173815961506'],
 ['922074254021', '2015', '842191546849', '173815961506'],
 ['922074254021', '2014', '341814020434', '173815961506'],
 ['922074254021', '2013', '81113368858', '173815961506'],
 ['922074254021', '2013', '582981880659', '173815961506'],
 ['922074254021', '2011', '225044240400', '173815961506'],
 ['922074254021', '2002', '582981880659', '173815961506'],
 ['922074254021', '2001', '341814020434', '173815961506'],
 ['922074254021', '2007', '789269779534', '173815961506'],
 ['922074254021', '2008', '637860132779', '173815961506']]

In [15]:
filename2 = "dsHash2.csv"
with open(filename2, 'w') as csvfile2:
    csvwriter = csv.writer(csvfile2, delimiter=',', lineterminator='\r')
    csvwriter.writerow(fields)
    csvwriter.writerows(hashRows)

In [16]:
filename2

'dsHash2.csv'

In [17]:
csvfile.close()
csvfile2.close()

In [18]:
fields = []
rows2 = []
filename = "dsHash2.csv"
with open(filename, 'r', encoding = 'utf-8') as csvfile:
    csvreader = csv.reader(csvfile)
    
    fields = next(csvreader)
    
    for row in csvreader:
        rows2.append(row)

In [19]:
rows2

[['599540218941', '2020', '898528197691', '842955241147'],
 ['599540218941', '2017', '637860132779', '842955241147'],
 ['599540218941', '2013', '637860132779', '842955241147'],
 ['599540218941', '2006', '881714492924', '842955241147'],
 ['599540218941', '2002', '898528197691', '842955241147'],
 ['599540218941', '2003', '898528197691', '842955241147'],
 ['599540218941', '2011', '582981880659', '842955241147'],
 ['599540218941', '2015', '842191546849', '842955241147'],
 ['599540218941', '2014', '327893498858', '842955241147'],
 ['599540218941', '2016', '898528197691', '842955241147'],
 ['599540218941', '2018', '637860132779', '504567342880'],
 ['599540218941', '2017', '637860132779', '504567342880'],
 ['599540218941', '2017', '225044240400', '504567342880'],
 ['599540218941', '2017', '225044240400', '504567342880'],
 ['599540218941', '2017', '637860132779', '504567342880'],
 ['599540218941', '2017', '225044240400', '504567342880'],
 ['599540218941', '2016', '225044240400', '504567342880'],
 ['599540218941', '2015', '715105976379', '504567342880'],
 ['599540218941', '2015', '842191546849', '504567342880'],
 ['599540218941', '2015', '637860132779', '504567342880'],
 ['599540218941', '2014', '327893498858', '504567342880'],
 ['599540218941', '2007', '637860132779', '504567342880'],
 ['599540218941', '2008', '637860132779', '504567342880'],
 ['599540218941', '2019', '881714492924', '173815961506'],
 ['599540218941', '2019', '898528197691', '173815961506'],
 ['599540218941', '2018', '341814020434', '173815961506'],
 ['599540218941', '2018', '898528197691', '173815961506'],
 ['599540218941', '2017', '225044240400', '173815961506'],
 ['599540218941', '2017', '582981880659', '173815961506'],
 ['599540218941', '2016', '327893498858', '173815961506'],
 ['599540218941', '2016', '637860132779', '173815961506'],
 ['599540218941', '2016', '789269779534', '173815961506'],
 ['599540218941', '2015', '225044240400', '173815961506'],
 ['599540218941', '2015', '842191546849', '173815961506'],
 ['599540218941', '2014', '321193061305', '173815961506'],
 ['599540218941', '2014', '881714492924', '173815961506'],
 ['599540218941', '2014', '881714492924', '173815961506'],
 ['599540218941', '2014', '582981880659', '173815961506'],
 ['599540218941', '2014', '341814020434', '173815961506'],
 ['599540218941', '2018', '881714492924', '782389966709'],
 ['599540218941', '2002', '898528197691', '782389966709'],
 ['599540218941', '2017', '881714492924', '782389966709'],
 ['599540218941', '2006', '898528197691', '782389966709'],
 ['599540218941', '2006', '898528197691', '782389966709'],
 ['599540218941', '2005', '225044240400', '782389966709'],
 ['599540218941', '2005', '341814020434', '782389966709'],
 ['599540218941', '2003', '842191546849', '782389966709'],
 ['599540218941', '2003', '582981880659', '782389966709'],
 ['599540218941', '2001', '225044240400', '782389966709'],
 ['922074254021', '2019', '81113368858', '842955241147'],
 ['922074254021', '2011', '327893498858', '842955241147'],
 ['922074254021', '2008', '341814020434', '842955241147'],
 ['922074254021', '2009', '225044240400', '842955241147'],
 ['922074254021', '2008', '341814020434', '842955241147'],
 ['922074254021', '2012', '842191546849', '842955241147'],
 ['922074254021', '2011', '715105976379', '842955241147'],
 ['922074254021', '2011', '341814020434', '842955241147'],
 ['922074254021', '2010', '789269779534', '842955241147'],
 ['922074254021', '2008', '842191546849', '842955241147'],
 ['922074254021', '2020', '789269779534', '782389966709'],
 ['922074254021', '2018', '898528197691', '782389966709'],
 ['922074254021', '2016', '789269779534', '782389966709'],
 ['922074254021', '2016', '582981880659', '782389966709'],
 ['922074254021', '2016', '341814020434', '782389966709'],
 ['922074254021', '2017', '789269779534', '782389966709'],
 ['922074254021', '2015', '789269779534', '782389966709'],
 ['922074254021', '2015', '789269779534', '782389966709'],
 ['922074254021', '2014', '789269779534', '782389966709'],
 ['922074254021', '2014', '321193061305', '782389966709'],
 ['922074254021', '2019', '225044240400', '504567342880'],
 ['922074254021', '2018', '225044240400', '504567342880'],
 ['922074254021', '2018', '842191546849', '504567342880'],
 ['922074254021', '2017', '842191546849', '504567342880'],
 ['922074254021', '2017', '842191546849', '504567342880'],
 ['922074254021', '2016', '225044240400', '504567342880'],
 ['922074254021', '2015', '842191546849', '504567342880'],
 ['922074254021', '2015', '842191546849', '504567342880'],
 ['922074254021', '2013', '225044240400', '504567342880'],
 ['922074254021', '2013', '225044240400', '504567342880'],
 ['922074254021', '2016', '321193061305', '173815961506'],
 ['922074254021', '2015', '842191546849', '173815961506'],
 ['922074254021', '2014', '341814020434', '173815961506'],
 ['922074254021', '2013', '81113368858', '173815961506'],
 ['922074254021', '2013', '582981880659', '173815961506'],
 ['922074254021', '2011', '225044240400', '173815961506'],
 ['922074254021', '2002', '582981880659', '173815961506'],
 ['922074254021', '2001', '341814020434', '173815961506'],
 ['922074254021', '2007', '789269779534', '173815961506'],
 ['922074254021', '2008', '637860132779', '173815961506']]

In [20]:
getCountry(599540218941)

'India'

In [21]:
#Now training the model using training data---------------------------------------------------#

In [22]:
#saif
import pandas as pd
import numpy as np
df=pd.read_csv("dsHash2.csv")
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
le=LabelEncoder()

In [23]:
#df['Country']=le.fit_transform(df['Country'])
#df['Month']=le.fit_transform(df['Month'])
#df['Event']=le.fit_transform(df['Event'])

In [24]:
df

         Country  Year         Month         Event
0   599540218941  2020  898528197691  842955241147
1   599540218941  2017  637860132779  842955241147
2   599540218941  2013  637860132779  842955241147
3   599540218941  2006  881714492924  842955241147
4   599540218941  2002  898528197691  842955241147
..           ...   ...           ...           ...
84  922074254021  2011  225044240400  173815961506
85  922074254021  2002  582981880659  173815961506
86  922074254021  2001  341814020434  173815961506
87  922074254021  2007  789269779534  173815961506
88  922074254021  2008  637860132779  173815961506

[89 rows x 4 columns]

In [25]:
#df.Country.astype(int)
df.Country

0     599540218941
1     599540218941
2     599540218941
3     599540218941
4     599540218941
          ...
84    922074254021
85    922074254021
86    922074254021
87    922074254021
88    922074254021
Name: Country, Length: 89, dtype: int64

In [26]:
'''
df.Country=le.fit_transform(df.Country)
df.Month=le.fit_transform(df.Month)
df.Event=le.fit_transform(df.Event)
'''

'\ndf.Country=le.fit_transform(df.Country)\ndf.Month=le.fit_transform(df.Month)\ndf.Event=le.fit_transform(df.Event)\n'

In [27]:
x=df[['Country','Year','Month']]
y=df['Event']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0)
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(x_train, y_train)
dtree_predictions = dtree_model.predict(x_test)

In [29]:
x

         Country  Year         Month
0   599540218941  2020  898528197691
1   599540218941  2017  637860132779
2   599540218941  2013  637860132779
3   599540218941  2006  881714492924
4   599540218941  2002  898528197691
..           ...   ...           ...
84  922074254021  2011  225044240400
85  922074254021  2002  582981880659
86  922074254021  2001  341814020434
87  922074254021  2007  789269779534
88  922074254021  2008  637860132779

[89 rows x 3 columns]

In [30]:
y

0     842955241147
1     842955241147
2     842955241147
3     842955241147
4     842955241147
          ...
84    173815961506
85    173815961506
86    173815961506
87    173815961506
88    173815961506
Name: Event, Length: 89, dtype: int64

In [39]:
def predict(country, year, month):
    result = dtree_model.predict([ [dCountries[country], 2020, dMonths[month] ] ])
    return getEvent(result)

In [40]:
a = predict('India', 2020, 'June')

In [41]:
#getEvents(504567342880)
a

'Flood'